.about {
    position: relative;
    height: 100%;
    width: 100%;
    color: white;

}

.about h2 {
    text-align: center;
    padding-top: 20px;
}

.about h3 {
    background-color: unset;
    display: block;
    text-align: center;
    margin-top: 40px;
    font-size: 20pt;
}

.backImg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.9) contrast(0.8);
}

.delivery h2 {
    text-align: center;
    padding-top: 20px;
}

.variants {
    margin-top: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.delItem h4 {
    margin-bottom: 10px;
    color: white;
    background-color: red;
    display: inline-block;
    padding: 5px;
}

.delItem {
    width: 40%;
    text-align: justify;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
}