.about {
    position: relative;
    height: 100%;
    width: 100%;
    color: white;

}

.about h2 {
    text-align: center;
    padding-top: 20px;
}

.about h3 {
    background-color: unset;
    display: block;
    text-align: center;
    margin-top: 40px;
    font-size: 20pt;
}

.backImg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.9) contrast(0.8);
}

.delivery h2 {
    text-align: center;
    padding-top: 20px;
}

.variants {
    margin-top: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.delItem h4 {
    margin-bottom: 10px;
    color: white;
    background-color: red;
    display: inline-block;
    padding: 5px;
}

.delItem {
    width: 40%;
    text-align: justify;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
}

@media (max-width: 1459px) {
    .delItem p {
        font-size: 10pt;
    }

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .delItem p {
        font-size: 8pt;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .variants {
        margin-top: 40px;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding: 10px;
        position: initial;
        left: auto;
        top: auto;
        transform:none;
    }

    .delItem {
        width: 95%;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .variants {
        margin-top: 40px;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding: 5px;
        position: initial;
        left: auto;
        top: auto;
        transform:none;
    }

    .delItem {
        width: 90%;
        margin: 0 auto;
        padding: 5px;
        border-radius: 10px;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {}