.cartItem {
    display: flex;
    width: 100%;
    box-shadow: 0px 0px 5px 0px gray;
    margin-top: 10px;
}

.cartItem>img {
    height: 200px;
    width: 200px;
}

.itemAbout {
    width: 100%;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}

.cartName {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.size_color {
    display: flex;
    gap: 10px;
}

.priceItem {
    font-size: 16pt;
}

.countItem {
    align-self: self-end;
    display: flex;
    align-items: center;
    gap: 5px;
}

.currentCount {
    font-size: 16pt;
}