.location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location p {
    text-decoration: underline;
    transition: 0.2s;
}

.location p:hover {
    color: red;
    cursor: pointer;
}

.choseCity {
    transition: 0.3s;
}

.choseCity:hover {
    color: red;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .location {
        gap: 10px;
    }

    .location p {
        font-size: 10pt;
    }
}

@media (max-width: 767px) {
    .location {
        gap: 10px;
    }
}
@media (max-width: 480px) {
    .location p {
        font-size: 9pt;
    }
    .location {
        gap: 3px;
    }
}