.itemPage {
    background-image: url('./../../media/tshirtback.jpg');
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.itemPage h2 {
    padding: 40px;
    color: white;

}

.image_descr img {
    width: 1000px;
    height: 700px;
    object-fit: cover;
}

.image_descr {
    display: flex;
    gap: 40px;
    margin: 40px;
    color: white;
    color: black;
    background-color: white;
    padding: 25px;
}

.itemPage h3 {
    padding: 5px;
}

.butButton {
    display: block;
    margin: 15px 0px 5px 0px;
    padding: 5px;
    color: white;
    background-color: black;
    font-family: 'Century Gothic';
    font-weight: 900;
    font-size: 14pt;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 1459px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .image_descr img {
        width: 800px;
        height: 700px;
        object-fit: cover;
    }

    .image_descr {
        display: flex;
        gap: 40px;
        margin: 40px;
        color: black;
        background-color: white;
        padding: 25px;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .image_descr img {
        width: 500px;
        height: 400px;
        object-fit: cover;
    }

    .image_descr {
        display: flex;
        padding: 25px;
        gap: 40px;
        margin: 40px;
        color: black;
        background-color: white;
        padding: 25px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .image_descr {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 40px;
        color: white;
    }
    .image_descr img {
        width: 90%;
        margin: 0 auto;
        height: 400px;
        object-fit: cover;
    }

    .image_descr {
        display: flex;
        padding: 25px;
        gap: 40px;
        margin: 40px;
        color: black;
        background-color: white;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {}