.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Century Gothic';
    background-color: black;
    color: white;
    flex: 0 0 auto;
    /* height: 200px; */
}

.footer>nav {
    /* align-self: auto; */
}

.logo {
    align-self: center;
}

.logo h2 {
    color: red;
}

.contactsFooter {
    display: block;
}



.menu h4, .contactsFooter h4 {
    margin-bottom: 10px;
    color: red;
}

.contactsFooter li {
    display: block;
    font-size: 10pt;
}

.bothFooter {
    display: flex;
    gap: 20px;
}

.bothFooter p {
    font-size: 10pt;
}


@media (max-width: 1300px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .menu h4, .contactsFooter h4 {
        margin-bottom: 10px;
        color: red;
    }

    .contactsFooter li {
        font-size: 9pt;
    }

    .bothFooter {
        gap: 10px;
    }

    .bothFooter p {
        font-size: 9pt;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .footer {
        justify-content: center;
        flex-direction: column;
    }

    .logo {
        align-self: center;
    }

    .contactsFooter {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
    }

    .menu h4, .contactsFooter h4 {
        margin-bottom: 10px;
        color: red;
        text-align: center;
    }

    .contactsFooter li {
        display: block;
        font-size: 10pt;
    }

    .bothFooter {
        display: flex;
        gap: 20px;
        text-align: center;
        justify-content: center;
    }

    .bothFooter p {
        font-size: 10pt;
    }
}